:root {
    --bs-font-sans-serif: 'Open Sans', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body, body>div {
    min-height: 100vh;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', var(--bs-font-sans-serif);
}

.bg-subtle {
    background-color: #F2F4F5;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #AF7B51;
    border-color: #AF7B51;
}

.navbar-dark { background-color: #233A44; }

.navbar-dark a.navbar-brand {
    font-family: 'Nunito', var(--bs-font-sans-serif);
    color: #F0A96E;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .5rem;
    font-size: .750rem;
    border-radius: .2rem;
}

/* Poster */
.poster {
    overflow: hidden;
}

.poster-inner {
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 142.5%;
}

/* Avatar */
.avatar {
    overflow: hidden;
}

.avatar-inner {
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: calc(100% - 10px); /* 5px border */
}

/* Grid */
@media (max-width: 575px) {
    .preview-grid > :nth-child(n+3) {
        display: none;
    }
}

@media (max-width: 991px) {
    .preview-grid > :nth-child(n+5) {
        display: none;
    }
}

@media (max-width: 1399px) {
    .preview-grid > :nth-child(n+7) {
        display: none;
    }
}

/* Carousel */
.bg-darker {
    background-color: #14171A !important;
}

.carousel-featured > h2 {
    box-sizing: content-box;
    text-transform: uppercase;
    position: absolute;
    top: 1.5rem;
    z-index: 10000;
}

.carousel-featured > .carousel-inner, .extra-5 {
    position: relative;
    width: calc(100% + 6rem);
    left: -3rem;
}

.carousel-featured > .carousel-inner > .carousel-item, .extra-5-padded {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (max-width: 767px) {
    .carousel-featured > h2 {
        width: calc(100% - 2rem);
        text-align: center;
    }

    .carousel-featured > .carousel-inner, .featured-center {
        text-align: center;
    }

    .featured-poster {
        max-width: 50vw !important;
        margin-left: auto;
        margin-right: auto;
    }

    .featured-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.carousel-control-prev, .carousel-control-next {
    background: #F0A96E;
    opacity: 1;
    top: calc(50% - 2em);
    height: 2em;
    width: 2em;
    border-radius: 10em;
    padding: 0.5em 0.55em 0.5em 0.45em;
    left: -0.25em;
}

.carousel-control-next {
    left: calc(100% - 2rem + 0.25em);
    padding: 0.5em 0.45em 0.5em 0.55em;
}

/* Buttons */
.heading-with-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.badge-btn {
    display: flex;
    height: 100%;
    border-radius: 50rem;
    font-size: 0.5em;
    align-items: center;
    color: #F0A96E;
    background-color: #212529;
    padding-left: 0.95em;
    padding-right: 0.75em;
}

.badge-btn-light {
    color: #212529;
    background-color: #F0A96E;
}

/* User details page */
@media (min-width: 992px) { /* Large and above */
    .user-details-page-avatar {
        height: 9em;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) { /* XL */
    .user-details-page-avatar {
        width: 14.75em;
    }

    .user-details-page-summary {
        width: calc(100% - 14.75rem);
    }
}

@media (max-width: 767px) { /* XS, SM */
    .user-details-page-avatar {
        max-width: 50vw !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Log in page */
.login-screen h1 a {
    color: #F0A96E;
    text-decoration: none;
}

.login-screen .spinner-border {
    width: 1em;
    height: 1em;
    border-width: 0.17em;
    margin-right: -0.05em;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
}
